<div class="c-post-view-meta">
    {{date format="DD.MM.YYYY"}}

    {{#if tags}}
        en
        <span class="c-post-view-meta__tags">
            {{#foreach tags}}
                <a href="{{url}}" title="{{name}}">#{{name}}</a>
            {{/foreach}}
        </span>
    {{/if}}
</div>