{{!< default}}
{{#tag}}
    <div class="c-page-title">
        <h1 class="c-page-title__heading">
            Post con la etiqueta: <span class="c-page-title__heading__tag">#{{name}}</span>
        </h1>
    </div>
{{/tag}}

{{> "post-list"}}
{{pagination}}
